<!-- /dist/index.html -->
<!doctype html>
<html>
<head>
 <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <div>验证单点登录</div>
  <div id="text"></div>
  <div>
    <button id="testLogin" onclick="testLoginFn()">测试登录</button>
  </div>
  <script>
    function testLoginFn () {
      fetch(`/redirect?backUri=${encodeURIComponent(location.href)}`, {
        method: 'POST',
        credentials: 'include'
      }).then(res => {
        console.log(res.url.includes('/redirect-page'));
        if (res.url.includes('/redirect-page')) {
          open(res.url, '__self')
        }
      })
    }
    function getCookie(name){
      var strCookie=document.cookie;
      var arrCookie=strCookie.split("; ");
      for(var i=0;i<arrCookie.length;i++){
        var arr=arrCookie[i].split("=");
        if(arr[0]==name) return arr[1];
      }
      return "";
    }

    text.innerHTML = `name: ${getCookie('name')}, password ${getCookie('password')}`;
  </script>
</body>
</html>