<!doctype html>
<html>
    <head>
    <title>Canvas</title>
</head>
<body>
    <video src="/getMp4" id="j_video" width="200" ></video>
    <script>
        var video = document.getElementById("j_video");
        video.oncanplaythrough = function () {
            // 保证能拿到正确的宽高 clientWidth clientHeight
            VideoToImage(video);
        }
        function VideoToImage(video) {
            const canvas = document.createElement("canvas");
            canvas.width = video.width || video.clientWidth;  
            canvas.height = video.height || video.clientHeight;  
            canvas.style.position = "fixed";
            canvas.style.left = "100%";

            var context = canvas.getContext('2d');  //取得画布的2d绘图上下文  
            context.drawImage(video, 0, 0, canvas.width, canvas.height);  
                document.body.appendChild(canvas);
            // canvasToImage(canvas);
            const base64Data = canvas.toDataURL("image/png");
            
            const a = document.createElement("a");
            a.download = base64Data;
            a.href = base64Data;
            
            a.click();
            document.body.removeChild(canvas);
        }

        function canvasToImage(canvas){
            var image = document.createElement('img');
            image.src = canvas.toDataURL("image/png"); // base64
        }
    </script>
</body>
</html>